@import 'compass/css3/images'
@import 'compass/css3/opacity'
@import 'compass/css3/transition'

.dataView
  @include opaque
  @include transition-property(opacity)
  @include transition-duration(0.3s)

  display: inline-block
  margin: 0 2em 2em 0
  padding: 1em

  .title
    margin-top: 0

  &.error
    @include opacity(0.2)
