%script{ type: 'text/template', id: 'dataview-template' }
  %h2.title
    <%= title %>
  %h4.error-message

%script{ type: 'text/template', id: 'time-control-template' }
  %a.icon.left.icon-left
  %span.title
    <%= visibleRange %>
  %a.icon.right.icon-right
