!!!
%html
  %head
    %link(rel='stylesheet' type='text/css' href='style/layout.css')
    %link(rel='stylesheet' type='text/css' href='style/theme-normal.css')
    %link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat:400700')
    %title Kearny

  %body
    %nav
      .content
        %a{ href: '/settings' } Settings

    .container
      = yield
      #kearny-main

    = haml :javascript_templates
    :javascript
      window.Kearny = #{static_data.to_json};

    %script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    - %w[ d3 underscore backbone displays application ].each do |script|
      %script(src="js/#{script}.js")
